# Node.js
node_modules/

# Build output
mis-pwa/dist/
server/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Misc
mis-pwa/.next/
mis-pwa/.cache/
mis-pwa/.parcel-cache/
mis-pwa/.eslintcache

# Database
*.sqlite
*.db

# Coverage
coverage/

# Git
.git/
